@use "sass:math";

@mixin background{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

@mixin rect($height){
	&:after{
		content: '';
		padding-top: $height;
		display: block;
		width: 100%;
	}
}

@function pxToRem($value){
	@return math.div($value, 16px) * 1rem;
}

@mixin fontSize($size){
	font-size: pxToRem($size);
}