@use 'utils/helpers';
@use "sass:math";
@use "sass:map";
@use "sass:color";

$column: math.div(100%, 12) !default; 

$primary: #FFBB36 !default;
$secondary: #F1F1F1 !default;
$success: #168039 !default;
$info: #2962FF !default;
$warning: #FFDE20 !default;
$danger: #94090D !default;
$light: #FAFAFA !default;
$dark: #000000 !default;
$primary-verylight: rgba($primary, .12) !default;

$white: #ffffff !default;
$black: #000000 !default;

$gutter: 15px;

$font: 'Poppins', sans-serif;
$font-alt: 'Poppins', sans-serif;
$font-icon: "Font Awesome 5 Free";

$font-light: 300 !default;
$font-normal: 400 !default;
$font-medium: 500 !default;
$font-sbold: 600 !default;
$font-bold: 700 !default;
$font-xbold: 800 !default;


$colors: (
	"primary": #FFBB36,
	"secondary": #F1F1F1,
	"success": #168039,
	"info": #2962FF,
	"warning": #FFDE20,
	"danger": #94090D,
	"light": #FAFAFA,
	"dark": #000000,
);

$duration: .2s;
