section.container#Buttons
	.row
		.col-12
			h2 Buttons
	.row
		.col-12
			h3 Sizes
		.col-12
			button.button.button--primary.button--lg Download 
			button.button.button--primary.button--outline.button--lg Download 
		.col-12
			button.button.button--primary Download 
			a.button.button--primary.button--outline Download 
		.col-12
			a.button.button--primary.button--sm Download 
			a.button.button--primary.button--outline.button--sm Download 
	.row
		.col-12
			h3 Based styles
		.col-12
			button.button.button--primary Primary 
			button.button.button--secondary Secondary 
			button.button.button--success Success 
			button.button.button--danger Danger 
			button.button.button--warning Warning 
			button.button.button--info Info 
			button.button.button--light Light 
			button.button.button--dark Dark 
			button.button.button--asLink Link 
	.row
		.col-12
			h3 Outline styles
		.col-12
			button.button.button--outline.button--primary Primary 
			button.button.button--outline.button--secondary Secondary 
			button.button.button--outline.button--success Success 
			button.button.button--outline.button--danger Danger 
			button.button.button--outline.button--warning Warning 
			button.button.button--outline.button--info Info 
			button.button.button--outline.button--light Light 
			button.button.button--outline.button--dark Dark 
			button.button.button--outline.button--asLink Link 
	.row
		.col-12
			h3 Floating styles
		.col-12
			button.button.button--primary.button--floating
				i.fas.fa-heart
			button.button.button--primary.button--floatingInvisible
				i.fas.fa-heart
			button.button.button--secondary.button--floating
				i.fas.fa-heart
			button.button.button--secondary.button--floatingInvisible
				i.fas.fa-heart
			button.button.button--success.button--floating
				i.fas.fa-heart
			button.button.button--success.button--floatingInvisible
				i.fas.fa-heart
			button.button.button--danger.button--floating
				i.fas.fa-heart
			button.button.button--danger.button--floatingInvisible
				i.fas.fa-heart
			button.button.button--warning.button--floating
				i.fas.fa-heart
			button.button.button--warning.button--floatingInvisible
				i.fas.fa-heart
			button.button.button--info.button--floating
				i.fas.fa-heart
			button.button.button--info.button--floatingInvisible
				i.fas.fa-heart
			button.button.button--light.button--floating
				i.fas.fa-heart
			button.button.button--light.button--floatingInvisible
				i.fas.fa-heart
			button.button.button--dark.button--floating
				i.fas.fa-heart
			button.button.button--dark.button--floatingInvisible
				i.fas.fa-heart
	.row
		.col-12
			h3 With icons
		.col-12
			button.button.button--primary
				i.fas.fa-heart
				| Primary
			button.button.button--secondary
				i.fas.fa-heart
				| Secondary
			button.button.button--success
				i.fas.fa-heart
				| Success
			button.button.button--danger
				i.fas.fa-heart
				| Danger
			button.button.button--warning
				i.fas.fa-heart
				| Warning
			button.button.button--info
				i.fas.fa-heart
				| Info
			button.button.button--light
				i.fas.fa-heart
				| Light
			button.button.button--dark
				i.fas.fa-heart
				| Dark