section.container#Checkboxes-Radio-Toggle
	.row
		.col-12
			h2 Checkboxe Radio & Toggle
	.row
		.col-12
			+Checkbox({
				name: 'selector',
				label: 'Radio label 1',
				required: true,
			})
			+Checkbox({
				name: 'selector 4',
				label: 'Radio label 1',
				required: true,
				disabled: true,
			})
	.row
		.col-12
			+Radio({
				name: 'selector',
				label: 'Radio label 1',
			})
			+Radio({
				name: 'selector',
				label: 'Radio label 2',
			})
			+Radio({
				name: 'selector',
				label: 'Radio label 3',
				required: true,
			})
			+Radio({
				name: 'selector-2',
				label: 'Radio label 4',
				required: true,
				disabled: true,
			})
	.row
		.col-12
			+Toggle({
				name: 'selector',
				label: 'Radio label 3',
				required: true,
			})
			+Toggle({
				name: 'selector',
				label: 'Radio label 3',
				required: true,
				disabled: true,
			})
			+Toggle({
				name: 'selector',
				label: 'Radio label 3',
				required: true,
				disabled: true,
				checked: true,
			})