section.container#Inputs
	.row
		.col-12
			h2 Inputs
	.row
		.col-12
			+Input({
				type: 'email',
				placeholder: 'Email placeholder',
				name: 'Email name',
				required: true,
				label: 'Email label'
			})(class="special-class")
			+Input({
				type: 'test',
				name: 'Text name',
			})
			+Input({
				type: 'password',
				placeholder: 'Password placeholder',
				name: 'Password',
				required: true,
				label: 'Password',
			})
			+Input({
				type: 'Disabled',
				placeholder: 'Disabled placeholder',
				name: 'Disabled',
				required: true,
				label: 'Disabled',
				disabled: true,
			})
			//- label.radio__wrapper
			//- 	input(type="radio", name="selector")
			//- 	span Radio label 1
			//- label.radio__wrapper
			//- 	input(type="radio", name="selector", required)
			//- 	span Radio label 1
	//- .row
	//- 	.col-12
	//- 		label.toggle__wrapper
	//- 			input(type="checkbox")
	//- 			span toogle label