section.container#Typography
	.row
		.col-12
			h2 Typography
	.row
		.col-12
			h1 H1 Type something
			h2 H2 Type something
			h3 H3 Type something
			h4 H4 Type something
			h5 H5 Type something
			h6 H6 Type something