//- Input
//- args
//- 	name: string
//- 	type?: string
//- 	placeholder?: string
//- 	required?: boolean
//- 	value?: string
//- 	label?: string
//- 	disabled?: boolean
mixin Input(args)
	label.input__wrapper(
		id=attributes.id ? attributes.id : null,
		class=attributes.class ? attributes.class : null
	)
		input(
			type=args.type ? args.type : 'text'
			placeholder=args.placeholder ? args.placeholder : args.name
			required=args.required
			disabled= args.disabled
			value= args.value
		)
		span.input__label= args.label || args.name
		.input__warningInfo


//- Radio
//- args
//- 	name: string
//- 	required?: boolean
//- 	label?: string
//- 	disabled?: boolean
//- 	checked?: boolean
mixin Radio(args)
	label.radio__wrapper(
		id=attributes.id ? attributes.id : null,
		class=attributes.class ? attributes.class : null
	)
		input(
			type="radio"
			name= args.name
			required= args.required
			disabled= args.disabled
			checked= args.checked
		)
		span= args.label || args.name
		.input__warningInfo

//- Input
//- args
//- 	name: string
//- 	required?: boolean
//- 	label?: string
//- 	disabled?: boolean
//- 	checked?: boolean
mixin Checkbox(args)
	label.checkbox__wrapper(
		id=attributes.id ? attributes.id : null,
		class=attributes.class ? attributes.class : null
	)
		input(
			type="checkbox"
			name= args.name
			required= args.required
			disabled= args.disabled
			checked= args.checked
		)
		span= args.label || args.name
		.input__warningInfo

//- Toggle
//- args
//- 	name: string
//- 	required?: boolean
//- 	label?: string
//- 	disabled?: boolean
//- 	checked?: boolean
mixin Toggle(args)
	label.toggle__wrapper(
		id=attributes.id ? attributes.id : null,
		class=attributes.class ? attributes.class : null
	)
		input(
			type="checkbox"
			name= args.name
			required= args.required
			disabled= args.disabled
			checked= args.checked
		)
		span= args.label || args.name
		.input__warningInfo