@import "bootstrap/scss/bootstrap-grid";
@import "normalize.css";
@import "utils/helpers";
@import "utils/variables";

html{
	width: 100%;
	min-width: 320px;
	height: 100%;
	// overflow: hidden;
}

body{
	width: 100%;
	height: 100%;
}

*{
	box-sizing: border-box;
}

.wrapper{
	width: 100%;
	margin: 0;
	padding: 0;
	// height: 100%;
	// position: relative;
	display: flex;
}
.toc{
	&__wrapper{
		width: 300px;
		max-width: 100%;
		padding: $gutter;
		height: 100vh;
		max-height: 100vh;
		position: sticky;
		top: 0px;
		align-self: flex-start;
		background: $dark;
		color: $white;
	}
	&__title{}
	&__holder{
		margin: 0;
		padding: 0 0 0 15px;
		li{
			padding: $gutter;
			a {
				color: $white;
			}
		}
	}
}
.main{
	&__wrapper{
		width: 100%;
		section.container{
			padding-bottom: 100px;
			border-bottom: 3px solid $dark;
		}
	}
}

@import "scss/index.scss";

:root{
	// --primary: $primary;
	// --secondary: $secondary;
	// --success: $success;
	// --info: $info;
	// --warning: $warning;
	// --danger: $danger;
	// --light: $light;
	// --dark: $dark;
}