
doctype html
html
	head
	title MTL - Multitemplate 
	meta(charset="utf-8")
	meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
	link(rel='icon', href='/assets/img/favicon.png')
	script(src='https://code.jquery.com/jquery-3.5.1.min.js')
body
	div.wrapper
		aside.toc__wrapper
			h2.toc__title Table of Contents
			ol.toc__holder#tocContent
		main.main__wrapper#tocListFinder
			include components/Inputs
			include pugParts/Typography.pug
			include pugParts/Buttons.pug
			include pugParts/Checkbox-radio-toggle.pug
			include pugParts/Inputs.pug
