@import "utils/variables";
@import "utils/helpers";

.button {
	border: 0px;
	min-height: 40px;
	padding: 0 24px;
	border-radius: 8px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	cursor: pointer;
	position: relative;
	background-color: $primary;
	color: $white;
	margin: $gutter;
	font-family: $font;
	font-weight: $font-medium;
	max-width: 300px;
	text-decoration: none;
	@include fontSize(16px);
	transition: 0.2s;
	&.button--outline{
		padding: 0 23px;
	}

	&:hover{
		background-color: darken($primary, 10%);
	}

	.fs, .fas, .far, .fal, .fad, .fab{
		margin: 0 10px 0 0;
		font-size: inherit;
	}
	
	&--sm{
		padding: 0 20px;
		min-height: 32px;
		@include fontSize(12px);
		&.button--outline{
			padding: 0 19px;
		}
	}
	&--lg{
		padding: 0 36px;
		min-height: 56px;
		@include fontSize(20px);
		&.button--outline{
			padding: 0 35px;
		}
	}

	&--primary{
		background-color: $primary;
		&:hover{
			background-color: darken($primary, 10%);
		}
	}

	&--secondary{
		background-color: $secondary;
		color: $dark;
		&:hover{
			background-color: darken($secondary, 10%);
		}
	}

	&--success{
		background-color: $success;
		&:hover{
			background-color: darken($success, 10%);
		}
	}

	&--danger{
		background-color: $danger;
		&:hover{
			background-color: darken($danger, 10%);
		}
	}

	&--warning{
		background-color: $warning;
		&:hover{
			background-color: darken($warning, 10%);
		}
	}

	&--info{
		background-color: $info;
		&:hover{
			background-color: darken($info, 10%);
		}
	}

	&--light{
		background-color: $light;
		color: $dark;
		&:hover{
			background-color: darken($light, 10%);
		}
	}

	&--dark{
		background-color: $dark;
		&:hover{
			background-color: lighten($dark, 10%);
		}
	}

	&--asLink{
		background-color: unset;
		color: $primary;
		&:hover{
			background-color: rgba($secondary, .12) !important;
		}
	}

	
	&--outline{
		border-width: 1px;
		border-style: solid;
		background: none;
		color: $primary;
		border-color: $primary;
		&:hover{
			background-color: $secondary;
		}

		&.button{
			&--primary{
				border-color: $primary;
			}

			&--secondary{
				border-color: $secondary;
			}

			&--success{
				border-color: $success;
			}

			&--danger{
				border-color: $danger;
			}

			&--warning{
				border-color: $warning;
			}

			&--info{
				border-color: $info;
			}

			&--light{
				border-color: $light;
			}

			&--dark{
				border-color: $dark;
			}

			&--asLink{
				border: none;
			}
		}
	}

	&--outline, &--floatingInvisible{
		
		&:hover{
			// background-color: rgba($primary, .12);
			// background-color: lighten($secondary, 5%);
			background-color: $secondary;
		}

		&.button{
			&--primary{
				color: $primary;
			}

			&--secondary{
				color: $dark;
			}

			&--success{
				color: $success;
			}

			&--danger{
				color: $danger;
			}

			&--warning{
				color: $warning;
			}

			&--info{
				color: $info;
			}

			&--light{
				color: $dark;
			}

			&--dark{
				color: $dark;
			}
		}
	}
	&--floating, &--floatingInvisible{
		border-radius: 50%;
		width: 48px;
		height: 48px;
		padding: 0;
		.fs, .fas, .far, .fal, .fad, .fab{
			margin: 0;
		}
	}
	&--floatingInvisible{
		background-color: unset;
	}
}