@import "utils/variables";
@import "utils/helpers";


@mixin inputSharedStyles{
	position: relative;
	display: inline-flex;
	flex-wrap: wrap;
	padding: 15px;
	input{
		display: none;
		&:checked + span{
			&:before{
				border-color: $primary;
			}
		}
		+ span{
			display: inline-flex;
			height: 100%;
			align-items: center;
			align-content: center;
			user-select: none;
			&:before{
				content: '';
				border: 2px solid $dark;
				height: 10px;
				width: 20px;
				min-width: 20px;
				min-height: 20px;
				background: $white;
				transition: $duration;
				margin: 0 15px 0 0;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				text-align: center;
				color: $white;
				font-family: $font-icon;
				font-weight: $font-bold;
				cursor: pointer;
			}
			&:hover{
				&:before{
					box-shadow: 0px 0px 0px 10px $primary-verylight;
				}
			}
		}
	}
	&.invalid{
		border-color: $warning;
		.input__warningInfo{
			display: block;
			left: 0px;
			position: relative;
			width: 100%;
			background: none;
			padding-left: 40px;
			&:before{
				content: '\f071';
				color: $warning;
				margin: 0 10px 0 0;
				font-family: $font-icon;
				font-weight: $font-xbold;
				display: inline-flex;
				align-items: center;
				align-content: center;
			}
		}
	}
	&.disabled{
		cursor: not-allowed;
		span{
			color: rgba($dark, .5) !important;
			&:before{
				border-color: rgba($dark, .5) !important;
			}
			&:hover{
				&:before{
					box-shadow: none;
				}
			}
		}
	}
}
.checkbox{
	&__wrapper{
		@include inputSharedStyles;
		input{
			&:checked + span{
				&:before{
					background: $primary;
				}
			}
			+ span{
				&:before{
					content: '\f00c';
					border-radius: 3px;
					
				}
			}
		}
		&.invalid{
			.input__warningInfo{
				padding-left: 40px;
			}
		}
	}
}
.radio{
	&__wrapper{
		@include inputSharedStyles;
		input{
			&:checked + span{
				&:before{
					color: $primary;
				}
			}
			+ span{
				&:before{
					border-radius: 50%;
					content: '\f111';
					font-size: 14px;
				}
			}
		}
	}
}

.toggle__wrapper{
	@include inputSharedStyles;
	input{
		&:checked + span{
			&:before{
				color: $primary;
				background: rgba($primary, .3);
				text-align: right;
				justify-content: flex-end;
			}
		}
		+ span{
			&:before{
				text-align: left;
				justify-content: flex-start;
				border: 0px;
				background: rgba($dark, .3);
				color: $white;
				text-shadow: -1px 2px 4px rgba($dark,.3);
				width: 36px;
				height: 14px;
				min-height: 14px;
				border-radius: 20px;
				content: '\f111';
				font-size: 20px;
			}
		}
	}
	&.invalid{
		.input__warningInfo{
			padding-left: 55px;
		}
	}
	&.disabled{
		input:checked + span{
			&:before{
				color: darken($secondary, 10%);
			}
		}
	}
}
