@import "utils/variables";
@import "utils/helpers";

.input{
	&__wrapper{
		margin: 15px 15px 40px;
		position: relative;
		border-width: 1px;
		border-style: solid;
		border-color: rgba($dark, .3);
		border-radius: 10px;
		padding: 20px 35px 5px 15px;
		display: inline-flex;
		min-height: 56px;
		&:focus-within{
			border-color: $primary;
		}
		&.invalid{
			border-color: $warning;
			.input__warningInfo{
				display: block;
				left: 0;
			}
			&:after{
				content: '\f071';
				color: $warning;
				position: absolute;
				top: 0;
				right: 15px;
				bottom: 0;
				font-family: $font-icon;
				font-weight: $font-xbold;
				display: inline-flex;
				align-items: center;
				align-content: center;
			}
		}
		input{
			opacity: 0;
			border: 0;
			outline: 0;
			padding: 0;
			transition: $duration;
			letter-spacing: 0.15px;
			&:focus, &:not(:placeholder-shown){
				opacity: 1;
				+ .input__label{
					height: 50%;
					@include fontSize(12px);
				}
			}
			&:focus{
				+ .input__label{
					color: $primary;
				}
			}
		}
		&.disabled{
			color: rgba($dark, .5) !important;
			*{
				color: rgba($dark, .5) !important;
			}
		}
	}
	&__label{
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		display: flex;
		align-items: center;
		padding: 0 15px 0;
		user-select: none;
		@include fontSize(16px);
		transition: $duration;
	}
	&__warningInfo{
		position: absolute;
		top: calc(100% + 2px);
		@include fontSize(12px);
		padding: 5px 0 5px 15px;
		background: $white;
		display: none;
		color: $warning;
	}
}