@import "utils/variables";
@import "utils/helpers";

h1, h2, h3, h4, h5, h6{
	font-family: $font;
	font-style: normal;
	font-weight: $font-light;
	line-height: 1.17;
}
h1 {
	@include fontSize(96px);
}
h2{
	@include fontSize(60px);
}
h3{
	@include fontSize(48px);
}
h4{
	@include fontSize(34px);
}
h5{
	@include fontSize(24px);
}
h6{
	font-weight: $font-normal;
	@include fontSize(20px);
}
